
.sidebar ul li .tooltip{
    position: absolute;
    left: 100%;
    top:0;
    transform: translate(0, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}