.feed-card {
	width: calc(100% - 1rem);
	margin: 0.1rem;
	height: auto; /* Removed fixed height for flexibility */
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feed-card:hover {
	transform: scale(1.02);
	box-shadow: 0 8px 16px rgba(3, 125, 107, 0.712);
}

.feed-image {
	width: 128px;
	height: 128px;
	padding: 2px;
	object-fit: cover;
}

.top-section {
	background-color: #f3f4f6; /* Light background color */
	color: #1f2937; /* Dark text color */
}

.dark .top-section {
	background-color: #1f2937; /* Dark background color */
	color: #f3f4f6; /* Light text color */
}

.toggle-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent;
	border-radius: 0.375rem;
	padding: 0.5rem 1rem;
	transition: background-color 0.3s, color 0.3s;
}

.toggle-button[aria-pressed="true"] {
	background-color: #4caf50;
	color: white;
}

.toggle-button[aria-pressed="false"] {
	background-color: #333;
	color: #ccc;
}
