.wrap {
    --toastContainerTop: 0.5rem;
    --toastContainerRight: 0.5rem;
    --toastContainerBottom: auto;
    --toastContainerLeft: 0.5rem;
    --toastWidth: 100%;
    --toastMinHeight: 2rem;
    --toastPadding: 0 0.5rem;
    font-size: 0.875rem;
    text-align: center;
}
@media (min-width: 40rem) {
    .wrap {
        --toastContainerRight: auto;
        --toastContainerLeft: calc(50vw - 20rem);
        --toastWidth: 40rem;
        --toastBackground: #00c6a7;
        --toastBarBackground: hwb(0 18% 81%);
    }
}